.inicio{
    height: 100vh;
    color: #fff;
    position:relative;
}
.contenido_seccion{
    max-width: 1100px;
    margin: auto;
}
.info{
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 3%;
    transform: translate(-2%, -20%);
    h2{
        font-size: 1.64rem;
        font-weight: bold;
        letter-spacing: 3px;
    }
    p{
        margin: 20px;
        color: #d1d3d9;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .btn_mas{
        width: 50px;
        margin: auto;
        height: 50px;
        border: 2px solid;
        border-color: #ff0404;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #ff0606;
        margin-top: 15px;
        text-decoration: none;
    }
}