*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(../../imagenes_de_proyecto_fondos/fondo_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}